.cover-container{
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.video{
  object-fit:cover;
  width:100%;
  height:100vh;
  position:absolute;
  z-index:-1;
}


.cover-container > h1 {
  color: white;
  font-size: 100px;
  animation: mezcladito 4s infinite;
}

.cover-container > p, h4{
  margin-top:8px;
  color: white;
  font-size: 32px;
}

.about-img{
  width: auto;
  height: 75%;
  position: relative;
  left: 125px;
}


.parrafo-animado{
  animation: transformando 4s infinite;
  font-size: 5px;
  text-align: center;
  border-radius: 5px;
  height: 3.5rem;
  
}

@keyframes mezcladito {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #ddd163;
    text-shadow: 2px 2px 8px #d40a0a;
  }

  50% {
    transition: 7.5s;
    
    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #c48220cb;
  }

  75% {
    transition: 7.5s;
    color: #b6b41e;
    text-shadow: 2px 2px 8px #FF0000;
  } 
      to {
        transition: 10.5s;
        /* background-color:#16d345 ;*/
        color: #c0b01e;
        text-shadow: 2px 2px 8px #FF0000;
      }
  }


  .animadito{
    animation: mezcladito 4s infinite;
    width: 15rem;
    text-align: center;

  }

  
@keyframes transformando {
  from{
     transition: 7.5s;
     box-shadow: rgba(124, 17, 17, 0.25) 0px 54px 55px, rgba(139, 48, 48, 0.12) 0px -12px 30px, rgba(168, 64, 64, 0.12) 0px 4px 6px, rgba(160, 115, 115, 0.17) 0px 12px 13px, rgba(175, 142, 33, 0.774) 0px -3px 5px;
    color: #c0b01e;
        text-shadow: 2px 2px 8px #FF0000;
  }

  50% {
    transition: 7.5s;
   
    
  }

   to {
        transition: 10.5s;
        /* background-color:#16d345 ;*/
        color: #c0b01e;
        text-shadow: 2px 2px 8px #FF0000;
      }

}




@media Screen and (max-width: 960px){
  .cover-container > h1 {
    font-size: 70px;
    text-align: center;
  }
  .cover-container > p {
    text-align: center;
    font-size: 22px;
    width: 75%;
  }

}

@media Screen and (max-width: 320px){
  .cover-container > h1 {
    font-size: 35px;
    text-align: center;
    justify-content: flex-start;
  }

  .cover-container > p {
    font-size: 15px;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top:20px;
  }
}