.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../media/sobremi2.gif"); 
  background-position: right ; 
  background-size: 73%; 
  color: rgb(214, 188, 188);
  width: auto;
  height: auto;
 
 
}

.about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0px 50px 0  50px;
  gap:2rem;
  text-align: center;
  margin-bottom: 15rem;
}

.about-desc > h3 {
  margin-top: 5rem;
  font-size: 35px;
  color: rgb(221, 186, 28);
  text-shadow: 5px 5px 5px  #ce4c24;
  transform: scale(1.2);
  
  
}

.sobre-mi {
  font-size: 20px;
  width: 100%;
  color: #c2a526;
  text-shadow: 2px 2px 8px #FF0000;
  box-shadow: rgba(131, 93, 93, 0.4) 0px 2px 4px, rgba(179, 54, 54, 0.3) 0px 7px 13px -3px, rgba(165, 43, 43, 0.2) 0px -3px 0px inset;
}

.sobre-mi span {
  animation: popocilo 4s infinite !important;
  
}



.subtitulo{
  animation: mezcladito 4s infinite;
}

@keyframes mezcladito {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #a5992d;
    text-shadow: 2px 2px 8px #FF0000;
  }

  50% {
    transition: 7.5s;
    
    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #c48220cb;
  }

  75% {
    transition: 7.5s;
    color: #ccc90d;
    text-shadow: 2px 2px 8px #FF0000;
  } 
      to {
        transition: 10.5s;
        
        color: #bd9616;
        text-shadow: 2px 2px 8px #FF0000;
      }
  }

@keyframes popocilo {
  from {
    transition: 7.5s;
    color: #aa538d;
    text-shadow: 2px 2px 8px #c71212;
    
  }

  50% {
    transition: 7.5s;
    right: 1em;
    
  }

  65% {
    transition: 7.5s;
    color: #e0afe2cb;
    text-shadow: 2px 2px 8px #741c61;
  }

  75% {
    transition: 7.5s;
    color: #d6d57f;
    text-shadow: 2px 2px 8px #cf218c;
  } 
      to {
        transition: 10.5s;
        color: #bd9616;
        text-shadow: 2px 2px 8px #b42661;
      }
  }


@media only screen and (max-width:770px){


  .about-container{
    background-position: center ; 
    background-size: 100%; 
    background-repeat: no-repeat;
  }

  .about-desc{
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc > h3{
    font-size: 20px;
    text-align: center;
    
  }

  
  

}

@media only screen and (max-width:375px){


  .about-container{
    background-position: center ; 
    background-size: 150%; 
 
    
  }

  .about-desc > h3{
    font-size: 30px;
  }

  .sobre-mi{
    font-size:15px;
    margin-bottom: 80px;
  }
}