.footer{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  padding-top: 180px;
  position: fixed;
  z-index: -2;
  bottom: 0;
  left: 0;
  
  
}

.video-footer{
  object-fit:cover;
  width:100%;
  height:auto;
  position:absolute;
  top: 10%;
  z-index:-1;
  
  
}

.footer-info {
  font-size: 35px;
  padding: 30px 0 30px 50px;
  width: 70%;
  margin: 0 auto;
  
  
  
}

.footer-info > h1 {
  padding-bottom: 15px;
  color: #c4d437;
  text-shadow: 4px 11px 4px rgba(30,63,159,0.63);
  animation: frio infinite 4s;
  
  
  
}

.nombre-apellido {
    color: #c4d437;
    text-shadow: 4px 11px 4px rgba(30,63,159,0.63);
    animation: frio infinite 4s;
    width: 35%;
    box-shadow: rgba(145, 51, 51, 0.4) 0px 2px 4px, rgba(212, 21, 21, 0.3) 0px 7px 13px -3px, rgba(196, 95, 95, 0.2) 0px 3px 0px inset;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  

  .nombre-apellido > h4{
    color: #4993d8;
    text-shadow: 4px 11px 4px rgba(30,63,159,0.63);
    animation: frio infinite 4s;
  }
  
  .nombre-apellido > p{
    font-size: 25px;
  }
  
  .footer-info > p{
    color: #49c3d8;
    text-shadow: 4px 11px 4px rgba(30,63,159,0.63);
    animation: frio infinite 4s;
    
    
  }
  


.footer-contact > p {
  color: #ba82c5;
  text-shadow: 1px 11px 4px rgba(190, 42, 183, 0.63);
 
}

.footer-contact > p:hover{
  cursor: pointer;


}

.footer-sns{
    width: 70%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.sns-links {
    display: flex;
    justify-content: space-between;
    
    
}

.linkedin, .github, .mail {

    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
    animation: frio 5s infinite;
}

.linkedin:hover, 
.github:hover, 
.mail:hover{

  transform: scale(1.1);
  border-color: #d8b249;
  animation: mezcladito 5s infinite;
}

.design-by {
     font-size: 18px;
     padding-left: 50px;
      color: #d8b249;
    text-shadow: 4px 11px 4px rgba(30,63,159,0.63);
    animation: frio 5s infinite;

}


.footer-contact > a {
  text-decoration: none;
}

.start{
  animation: transformando infinite 3s;
  width: 15rem;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 55%;
  margin-top: 20px;
  
}


@keyframes frio {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #c563dd;
    text-shadow: 2px 2px 8px #d40a0a;
  }

  50% {
    transition: 7.5s;
    text-shadow: -6px 9px 13px rgba(137,15,174,0.97);
    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #7f57c9cb;
  }

  75% {
    transition: 7.5s;
    color: #b94da2;
    text-shadow: 2px 2px 8px #FF0000;
  } 
      to {
        transition: 10.5s;
        /* background-color:#16d345 ;*/
        color: #a84693;
        text-shadow: 2px 2px 8px #FF0000;
      }

}

@keyframes transformando {
  from{
     transition: 7.5s;
     box-shadow: rgba(124, 17, 17, 0.25) 0px 54px 55px, rgba(139, 48, 48, 0.12) 0px -12px 30px, rgba(168, 64, 64, 0.12) 0px 4px 6px, rgba(160, 115, 115, 0.17) 0px 12px 13px, rgba(175, 142, 33, 0.774) 0px -3px 5px;
    color: #c0b01e;
        text-shadow: 2px 2px 8px #FF0000;
  }

  50% {
    transition: 7.5s;
   
    
  }

   to {
        transition: 10.5s;
        /* background-color:#16d345 ;*/
        color: #c0b01e;
        text-shadow: 2px 2px 8px #FF0000;
      }

}

@media only screen and (max-width: 960px){
  .footer-info > h1{
    text-align: center;
    font-size: 25px;
    padding: 0;
    height: auto;
    width: auto;
    border: solid;

  }
  
  .footer-contact {
    font-size: 16px;
    text-align: center;
  }



  .design-by{
    padding: 0 0 40px 0;
  }

  .start{
    width: auto;
    
  }

   .nombre-apellido{
      width: auto;
      
    }

  
}


@media only screen and (max-width:720px){ 

    .video-footer{
      display: none;
    }
  
  
  .footer{
    padding-top:10px;

    }

    .linkedin, .github, .mail {
    font-size: 25px;
    }

    .sobre-mi {
      font-size: 10px;
    }


    .footer-info > h1 {
     padding-bottom: 5px;
    margin-top: 150px;
    

  }

    .footer-info > h4{
     font-size: 15px;
   
    }

    .footer-info > p {
    font-size: 12px;
    }

   

  }


     


@media only screen and (max-width:320px){
     

  .footer-info{
    padding: 0;
  
  }

  .start {
    width: 10rem;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  
  }

  .sns-links{
    gap:45px;
  }

  .linkedin, .github, .mail {
    font-size: 25px;
  }

  .nombre-apellido{
    width: auto;
    margin-top: 150px;
    
  }  

    .nombre-apellido > h1{
      font-size: 35px;
    }

     .nombre-apellido > p{
      font-size: 15px;
    }

}

